<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
   package="music.player">
   
   <uses-permission android:name="android.permission.INTERNET" />
   
   <application android:icon="@drawable/icon" android:label="Redmote">

      <activity android:name=".MusicPlayer" android:label="@string/app_name">
         <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
         </intent-filter>
      </activity>

      <activity android:name=".MusicPlayer" android:label="@string/app_name"
         android:screenOrientation="portrait" android:launchMode="standard">
         <intent-filter>
            <action android:name="android.intent.action.DEFAULT" />
            <category android:name="android.intent.category.VIEW" />
         </intent-filter>
      </activity>
      
      <activity android:name=".Activity2" android:label="@string/app_name"
         android:screenOrientation="portrait" android:launchMode="standard">
         <intent-filter>
            <action android:name="android.intent.action.DEFAULT" />
            <category android:name="android.intent.category.VIEW" />
         </intent-filter>
      </activity>
          
      <activity android:name=".HelloWebView" android:label="@string/app_name">
      </activity>
     
      <activity android:name=".MusicPlayer2" android:label="@string/app_name">
      </activity>
     
      <activity android:name=".MusicPlayer2" android:label="@string/app_name"
         android:screenOrientation="portrait" android:launchMode="standard">
         <intent-filter>
            <action android:name="android.intent.action.DEFAULT" />
            <category android:name="android.intent.category.VIEW" />
         </intent-filter>
      </activity>




   </application>
</manifest> 